<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body style="background-color:powderblue;">
<h2 style="text-align:center;padding-top:45px"> <u>ADD WAREHOUSE</u></h2>


<form method="post" style="padding-top:85px;padding-left:500px;">
     {% csrf_token %}
    <input  style="width:290px;font-size:15px;" type="number" name="number" placeholder="enter the number for new WAREHOUSE">
    <input style="font-size:20px;" type="submit" class="btn btn-success">
</form>



</form>
</body>
</html>